body {
  background: #bfd8d2;
  margin-top: 40px;
}

a {
  color: #333;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: #df744a;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 15px;
}


